// image size
$img_height: 250px;

// site color
$back_color: black;
$color: lightgreen;

// link color
$link_color: red;

// button colors
$button_color: red;
$button_hover_color: lightblue;
$button_active_color: $button_hover_color;
