@import 'values';

body.enabled {
	font-family: "Courier New", Helvtica, Arial, Verdata, Tahoma, serif;
	background-color: $back_color;
	color: $color;

	*::selection {
		background-color: $color;
		color: $back_color;
	}

	a {
		color: $link_color;
		text-decoration: none;
		&:hover {
			text-decoration: underline;
		}

		&::selection {
			background-color: $link_color;
		}
	}

	button {
		border: 3px solid $button_color;
		background-color: inherit;
		color: $button_color;
		margin: 2px;
		user-select: none;

		&:hover {
			border: 3px solid $button_hover_color;
			color: $button_hover_color;
		}

		&:active {
			border: 5px solid $button_active_color;
			color: $button_active_color;
			margin: 0;
		}
	}

	.bottom-row {
		display: inline-block;
		position: absolute;
		bottom: 20px;
		left: 50%;
		width: auto;
		height: $img_height;
		transform: translateX(-50%);

		img {
			position: relative;
			height: $img_height;
			width: auto;
			float: left bottom;

			&.machine {
				height: calc($img_height / 2);
			}
		}
	}
}
