$IMG_WIDTH: 160px;

body.enabled {
	font-family: "Courier New", Helvtica, Arial, Verdata, Tahoma, serif;
	background-color: black;
	color: lightgreen;

	*::selection {
		background-color: lightgreen;
		color: black;
	}

	a {
		color: red;
		text-decoration: none;
		&:hover {
			text-decoration: underline;
		}

		&::selection {
			background-color: red;
			color: black;
		}
	}

	button {
		border: 3px solid red;
		background-color: inherit;
		color: red;
		margin: 2px;

		&:hover {
			border: 3px solid lightblue;
			color: lightblue;
		}

		&:active {
			border: 5px solid lightblue;
			color: lightblue;
			margin: 0;
		}
	}

	.bottom-row {
		display: inline-block;
		position: absolute;
		bottom: 20px;
		left: 50%;
		width: auto;
		height: $IMG_WIDTH;
		transform: translateX(-50%);

		img {
			position: relative;
			height: $IMG_WIDTH;
			width: auto;
			float: left bottom;

			&.machine {
				height: calc($IMG_WIDTH / 2);
			}
		}
	}
}
